@media screen and (min-width: 1280px),
(max-width: 1280px) {
    .profile__text {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
}

@media screen and (max-width: 950px) {
    .profile__text {
        justify-content: center;
        padding-top: 26px;
    }
}