.elements {
    display: grid;
    max-width: 880px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    row-gap: 20px;
    column-gap: 17px;
    margin-top: 51px;
}

@media screen and (max-width: 950px) {
    .elements {
        max-width: 585px;
        grid-template-columns: 1fr 1fr;
        margin-top: 36px;
    }
}

@media screen and (max-width: 615px) {
    .elements {
        max-width: 282px;
        grid-template-columns: 1fr;
    }
}