.profile__description {
    font-family: 'Inter', 'Inter-Regular', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;
}

@media screen and (max-width: 950px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding-top: 14px;
        padding-bottom: 36px;
        padding-right: 30px;
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}