.profile__edit-button {
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border: none;
    white-space: nowrap;
    user-select: none;
    background-image: none;
    background: none;
    line-height: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
    min-width: 0;
    height: auto;
    width: auto;
    border-radius: 0;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    border-spacing: 0;
    text-indent: 0;
    color: inherit;
    margin: 0;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (min-width: 1280px),
(max-width: 1280px) {
    .profile__edit-button {
        height: 24px;
        width: 24px;
        padding-bottom: 0;
        margin-left: 9px;
    }
}

@media screen and (max-width: 950px) {
    .profile__edit-button {
        height: 18px;
        margin-left: 5px;
    }
}