.popup-form {
    width: 430px;
    background-color: #fff;
    border-radius: 10px;
}

@media screen and (min-width: 1280px),
(max-width: 1280px) {
    .popup-form {
        height: 330px;
    }
}

@media screen and (max-width: 615px) {
    .popup-form {
        width: 282px;
        height: 322px;
    }
}