.form-add__place {
    margin-bottom: 0px;
    border: 0;
    border-bottom: 1px solid #000;
    width: 358px;
    height: 27px;
    padding: 0;
    font-family: 'Inter', 'Inter-Regular', Arial, sans-serif;
}

.form-add__place:first-child {
    margin-bottom: 30px;
}

@media screen and (max-width: 615px) {
    .form-add__place:first-child {
        margin-bottom: 50px;
    }
    .form-add__place {
        width: 238px;
    }
}