.popup-form__place {
    margin-bottom: 0px;
    border: 0;
    border-bottom: 1px solid #000;
    width: 358px;
    height: 27px;
    padding: 0;
    font-family: 'Inter', 'Inter-Regular', Arial, sans-serif;
    position: relative;
    outline: none;
}

.popup-form__place:first-child {
    margin-bottom: 30px;
}

@media screen and (max-width: 615px) {
    .popup-form__place:first-child {
        margin-bottom: 50px;
    }
    .popup-form__place {
        width: 238px;
    }
}