.popup-form__button {
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border: none;
    white-space: nowrap;
    user-select: none;
    line-height: inherit;
    font-size: inherit;
    border-radius: 0;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;

    text-indent: 0;
    color: inherit;
    width: 358px;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    background-color: #000;
    margin-top: 48px;
    font-family: 'Inter', 'Inter-Regular', Arial, sans-serif;
}

.popup-form__button:hover {
    opacity: .6;
}

@media screen and (max-width: 615px) {
    .popup-form__button {
        width: 236px;
        height: 46px;
        margin-top: 50px;
    }
}

.popup-form__button_inactive{
    pointer-events: none;
    opacity: 0.4;
    cursor: default;
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: transparent;
    color: black;
  }