.footer {
    margin: 0 auto;
    display: flex;
    justify-content: start;
    max-width: 880px;
    padding-top: 66px;
    padding-bottom: 60px;
}

@media screen and (max-width: 950px) {
    .footer {
        max-width: 585px;
    }
}

@media screen and (max-width: 615px) {
    .footer {
        max-width: 282px;
        padding-top: 48px;
        padding-bottom: 36px;
    }
}